
.container{
  margin:5rem;
  display: flex;
  padding:4rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}


.inputSpan{
  display: flex;
}

@media screen and (max-width:450px) {
  .container{
    margin:0.2rem;
    gap:0.4rem;
  }

  .inputSpan{
    gap:0.2rem;
  }
  
}
.container label{
  padding:0 1rem 0.5rem 1rem;
  color:#4696e5;
  font-size: 1.4rem;
  font-weight: bold;
}

.container button{
    background-color: #4696e5;
  color:white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding:0.4rem 1.2rem;
  outline: none;
  border:none;
}

